

  .lo {
    text-align: center;
    margin-top: 150px;
  }
  .kinging{
      height:500px;
    width: 700px;
    margin: 220px;
  }
  .table{
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
  }
  